{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product creation</h1>
<form action="{{path('_create')}}" enctype="multipart/form-data" method="post">
    {{ form_widget(form) }}
</form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
